/*
* Global text styles
*/
body {
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	font-size: 75%;
	background-color: #FFFFFF;
	padding: 5pt 5pt 5pt 5pt;
	min-width: 975px;
}

a.header {
	color: #0000FF;
}

a.table_text {
	color: #0000FF;
}

hr {
	width: 100%;
	height: 1px;
	border:none;
}

p {
	margin: 4px;
	text-align: center;
}

p.tips {
	text-align: left;
}

p.view {
	text-align: left;
}

table {
	text-align: left;
}

table.form {
	text-align: left;
}


/*
* Elements
*/
#allpage {
	background: #FFFFFF;
}

#header {
	width: 100%;
}

#header2 {
	width: 100%;
}

#header_left {
	float: left;
	width: 400px;
	text-align: left;
}

#header_left a {
	padding-right: 6px;
}

#header_right {
	float: right;
	min-width: 570px;
}

#header_right a {
	padding-right: 6px;
}

#header_right_text {
	padding-left: 8px;
	padding-right: 8px;
}

#wrapper {
	width: 100%;
}

#selectmenuitem {
	background: #c5dbec;
}

#installcontent {
	position: relative;
	padding: 8px;
	text-align: left;
	background: #FFFFFF;
}

#maincontent {
	padding: 5px;
	text-align: left;
	background: #FFFFFF;
	margin: 0;
	border:0;
	overflow: auto;
	height: 520px;
}

#mainborder_full {
	position: relative;
	float: left;
	margin: 0px;
	padding: 3px;
	width: 98%;
}

#mainborder {
	margin: 0px;
	padding: 3px;
}

#menutop {
	margin: 8px;
	text-align: left;
	background: #FFFFFF;
}

#menutopborder {
	float: left;
	margin: 8px;
	text-align: left;
	background: #4297d7;
	width: 23%;
}

#menucontainer {
	margin: 4px;
	text-align: left;
	background: #FFFFFF;
/*
	height: 600px;
*/
}

.menucolumn {
	margin: 2px;
	width: 126px;
	float: left;
	text-align: left;
	background: #FFFFFF;
}

#searchbar {
	float: left;
	width: 100%;
	text-align: left;
}

.innersearchbar {
	float: left;
	margin: 2px;
	vertical-align: middle;
}

#message {
	float: right;
	width: 50%;
	text-align: right;
}

#footer {
	width: 100%;
}

#box {
	margin-left:auto;
	margin-right:auto;
	width: 300px;
	margin: 0;
	padding: 28px;
}

/*
* Views
*/
#noshtabs {
	padding: 5pt 5pt 5pt 5pt;
}

#jSuggestContainer {
	position:absolute;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	border:1px solid #ffb931;
	border-top:0;
	background:#FFF;
}

.jSuggestLoading {
	font-style:italic;
	padding: 10px;
}

#jSuggestContainer ul, #jSuggestContainer ul li{
	margin: 0;
	padding:0;
	list-style:none;
}

#jSuggestContainer ul li{
	padding: 2px 4px;
	border-bottom: 1px dotted #ffe594;
	color:#666;
	background:#fff9e7;
	cursor:pointer
}

#jSuggestContainer ul li.last{
	border-bottom: 0;
}

#jSuggestContainer ul li.jSuggestHover{
	background:#ffeaaa;
	color:#333;
}

#ui-datepicker-div{
	z-index: 2000;
}

#medications{
	z-index: 5000;
}

#logo{
	font-family: 'Pacifico', arial, serif;
	font-size: 38px;
	text-shadow: 4px 4px 4px #aaa;
	vertical-align: middle;
}

#logo1{
	font-family: 'Pacifico', arial, serif;
	font-size: 38px;
	text-shadow: 4px 4px 4px #aaa;
}

div#encounter_template table td, div#encounter_template table th {
	border: 1px solid #000;
	padding: .6em 10px;
	text-align: left;
}

.ui-tabs .ui-tabs-hide {
	position: absolute;
	left: -10000px;
}

.ui-autocomplete {
	max-height: 200px;
	max-width: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete-loading {
	background: url('../images/indicator.gif') no-repeat right center;
}


.hpi_template_div {
	height:250px;
	overflow:auto;
}

.ros_template_div {
	height:350px;
	overflow:auto;
}

.pe_template_div {
	height:250px;
	overflow:auto;
}

.letter_template_div {
	height:250px;
	overflow:auto;
}

.ref_template_div {
	height:250px;
	overflow:auto;
}

#oh_sh_form {
	height:250px;
	overflow:auto;
}

#oh_form {
	overflow:auto;
}

#vitals_fieldset {
	overflow:auto;
}

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}

.ui-dialog {
	position:absolute;
	overflow:hidden
}

.mybold td {
	font-weight : bold !important
}

.myAltRowClass {
	color: red;
	background-image: none;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 790px;
}

.ui-progressbar {
	position: relative;
}

.print_entire_charts_progressbar_label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.noclose .ui-dialog-titlebar-close
{
	display:none;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height:auto;
	overflow:hidden;
	padding-right:4px;
	padding-top:2px;
	position:relative;
	vertical-align:text-top;
	white-space:normal !important;
}

#menu_accordion {
	font-size: 1em;
}

.js {
	display: none;
}
